<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <!-- 定义一个从控制台输出的日志信息 -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d - %c -%-4r [%t] %-5p %x - %m%n"/>
        </layout>
        <!--限制输出级别-->
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="DEBUG" />
            <param name="levelMax" value="ERROR" />
            <param name="AcceptOnMatch" value="true" />
        </filter>
    </appender>

    <appender name="File_debug" class="org.apache.log4j.FileAppender">
        <param name="File" value="C:/log4j_debug.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d - %c -%-4r [%t] %-5p %x - %m%n"/>
        </layout>
        <!--限制输出级别    只输出DEBUG级别-->
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="DEBUG" />
            <param name="levelMax" value="DEBUG" />
            <param name="AcceptOnMatch" value="true" />
        </filter>
    </appender>

    <appender name="File_error" class="org.apache.log4j.FileAppender">
        <param name="File" value="C:/log4j_error.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d - %c -%-4r [%t] %-5p %x - %m%n"/>
        </layout>
        <!--限制输出级别    只输出ERROR级别-->
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="ERROR" />
            <param name="levelMax" value="ERROR" />
            <param name="AcceptOnMatch" value="true" />
        </filter>
    </appender>



    <!--<logger>的定义可以将各个包中的类日志输出到不同的日志文件中-->
    <!--com.litt2.log4j 目录下的日志会被打印到控制台中  -->
    <!---如果在root节点也包含<appender-ref ref="CONSOLE"/>  没有additivity="false"会重复打印<level value="WARN"/>级别的日志信息 -->
    <logger name="org.lkpnotice.turningme" additivity="false">
        <level value="WARN"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <!--<category></category>的作用和<logger>相同-->
    <!--com.litt3 目录下的日志会被打印到控制台中  -->
    <category name="com.litt3">
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
    </category>
    <root>
        <appender-ref ref="CONSOLE"/>
<!--        <priority value="debug"/>
        <appender-ref ref="File_debug"/>
        <appender-ref ref="File_error"/>-->
    </root>
</log4j:configuration>
